["bin/bw_scripts"]
    type = "archive"
    url = "https://github.com/neoautomata/bw_scripts/archive/main.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "24h"

["bin/bw.bin"]
    type = "archive-file"
    {{- $bwCliTag := "" -}}
    {{- range (gitHubReleases "bitwarden/clients") -}}
      {{- if and (not $bwCliTag) (hasPrefix "cli-v" (toString .TagName)) -}}
        {{- $bwCliTag = (toString .TagName) -}}
      {{- end -}}
    {{- end }}
    url = {{ gitHubReleaseAssetURL "bitwarden/clients" $bwCliTag "bw-linux-*.zip" | quote }}
    path = "bw"
    executable = true
    refreshPeriod = "24h"

["bin/jj"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" "jj-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    path = "./jj"
    executable = true
    refreshPeriod = "24h"