["bin/bw_scripts"]
    type = "archive"
    url = "https://github.com/neoautomata/bw_scripts/archive/main.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "24h"

["bin/bw.bin"]
    type = "archive-file"
    {{- $bwCliTag := "" -}}
    {{- range (gitHubReleases "bitwarden/clients") -}}
      {{- if and (not $bwCliTag) (hasPrefix "cli-v" (toString .TagName)) -}}
        {{- $bwCliTag = (toString .TagName) -}}
      {{- end -}}
    {{- end }}
    url = {{ gitHubReleaseAssetURL "bitwarden/clients" $bwCliTag "bw-linux-*.zip" | quote }}
    path = "bw"
    executable = true
    refreshPeriod = "24h"

["bin/chezmoi"]
    type = "file"
    url = "https://github.com/twpayne/chezmoi/releases/latest/download/chezmoi-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
    executable = true
    refreshPeriod = "24h"

["bin/jj"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" "jj-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    path = "./jj"
    executable = true
    refreshPeriod = "24h"

["bin/massren"]
    type = "file"
    # We use the source code archive URL since no binary assets exist
    url = "https://github.com/laurent22/massren/archive/refs/tags/{{ (gitHubLatestRelease "laurent22/massren").TagName }}.tar.gz"
    executable = true
    refreshPeriod = "24h"
    filter.command = "sh"
    filter.args = [
        "-c",
        "BUILD_DIR=$(mktemp -d) && trap 'rm -rf \"$BUILD_DIR\"' EXIT && tar -xz -C \"$BUILD_DIR\" --strip-components=1 && (cd \"$BUILD_DIR\" && CGO_ENABLED=1 go build -o massren . 2>/dev/null) && cat \"$BUILD_DIR/massren\""
    ]
